html, body{
margin: 0;
padding: 0;
}
nav{
    width: 100%;
    height: 100px;
    background-color: #2b2b2b;
}

nav h2{
    float: left;
    padding-left: 60px ;
    color: white;
    padding-top: 30px;
    font-family: 'russo';
}


.nav-con{
    width: 520px;
    height: 60px;
    margin-top: 30px;
    margin-left: 100px;
    float: right;
    padding-top: 5px;
}


nav ul{
    list-style: none;
}

nav li{
   float: left;
   padding-left: 20px;
   padding-right: 20px;
   height: 25px;
   background-color: none;
   border-radius: 5px;
   margin-left: 0px;
   margin-right: 5px;
  color: white;
}

body{
    width: 100%;
    height: 800px;
}
.world{
    width: 600px;
    height: 500px;
    background-image: url(../assets/rocket.png) ;
    background-position: center;
    background-size: cover;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
    float: left;
    margin-bottom: 200px;
}

.world h1{
color: white;
padding-left: 30px;
padding-top: 120px;
}

.world h2{
    color: white;
    padding-left: 30px;
}

.world p{
    color: white;
    padding-left: 30px;
    margin-top: 10px;
}

.cta{
    width: 175px;
    height: 30px;
    background-color: transparent;
    border-color: white;
    color: white;
  margin-left: 30px;
    border-style: ridge;
    padding-left: 10px;
    padding-right: 10px;
    
}

.line{
    width: 150px;
    height: 3px;
    background-color: white;
    margin-left: 30px ;
}

.cta:hover{
    background-color: white;
    color: #2b2b2b;
}

.form{
    width: 600px;
    height: 400px;
    background-color: transparent;
    float: right;
    padding-top: 100px;
    padding-right: 50px;
    margin-right: 50px;
    text-align: center;
}

.form-input{
    width: 100%;
    height: 35px;
    margin-top: 20px;
    padding-left: 15px;
    border-radius: 5px;
    background-color: lightgray;
    border-color: lightgrey;
}

form h1{
    color: #2b2b2b;
    font-size: 300px;
}

form p{
    color: #2b2b2b;
    font-family: 'montserrat', regular;
}

.input{
    background-color: lightgray;
    margin-top: 30px;

}

.button{
    width: 100%;
    height: 40px;
    background-color: #2b2b2b;
    color: white;
    margin-top: 20px;
    text-align: center;
    padding-top: 6px;

}


.button:hover{
    color: #2b2b2b;
    background-color: white;
}

footer{
    width: 100%;
    height: 50px;
    color: white;
    background-color: #2b2b2b;
    float: left;
 text-align: center;
 padding-top: 10px;
}